In [3]:
# import os + os.chir is used to get to the llms directory to use the usermodules 
import os
os.chdir('C:/Users/AViey/OneDrive/Documents/College/UCI/Stats/stats170a/copilot/copilot/llms/user_modules') 

from  table_instances import Summaries, Sentiments, Base
from  db import Session, get_training_data, add_summaries_data, get_model_summary_data
import pandas as pd
import matplotlib.pyplot as plt

session = Session()

In [4]:
mistral = get_model_summary_data('mistral 7b')
mistral.head()

,summary_id,dialogue_id,model_id,generated_summary,rouge_1,rouge_2,rouge_l,bert_precision,bert_recall,bert_f1,meteor,memory_summary_usage,time_summary_taken
0,1,1,mistral 7b,Doctor Hawkins greets Mr. Smith and asks why h...,0.351351,0.159091,0.324324,0.888796,0.906006,0.897319,0.505513,None,None
1,2,2,mistral 7b,Person1 greets Person2 and checks Ricky's vacc...,0.250000,0.000000,0.218750,0.836484,0.907462,0.870528,0.335816,None,None
2,3,3,mistral 7b,Person1 lost a set of five keys with a small f...,0.367347,0.074074,0.285714,0.880228,0.880754,0.880491,0.363356,None,None
3,4,4,mistral 7b,Person1 was upset that Person2 had a girlfrien...,0.233333,0.105263,0.166667,0.868038,0.871339,0.869685,0.304503,None,None
4,5,5,mistral 7b,Malik approaches Wen and Nikki at the dance fl...,0.392857,0.120482,0.392857,0.869606,0.924768,0.896339,0.529660,None,None

In [5]:
sub_mistral = pd.read_csv(r'C:\Users\AViey\OneDrive\Documents\College\UCI\Stats\stats170a\copilot\copilot\Datasets\mistral_summary_results.csv')
sub_mistral.head()

,dialogue_id,Time Taken (s),GPU Usage (MB),Summary
0,1,0.554711,213.601387,Doctor Hawkins greets Mr. Smith and asks why h...
1,2,0.554711,213.601387,Person1 greets Person2 and checks Ricky's vacc...
2,3,0.554711,213.601387,Person1 lost a set of five keys with a small f...
3,4,0.554711,213.601387,Person1 was upset that Person2 had a girlfrien...
4,5,0.554711,213.601387,Malik approaches Wen and Nikki at the dance fl...

In [9]:
mistral = mistral[mistral.columns[:-2]]
mistral.head()

,summary_id,dialogue_id,model_id,generated_summary,rouge_1,rouge_2,rouge_l,bert_precision,bert_recall,bert_f1,meteor
0,1,1,mistral 7b,Doctor Hawkins greets Mr. Smith and asks why h...,0.351351,0.159091,0.324324,0.888796,0.906006,0.897319,0.505513
1,2,2,mistral 7b,Person1 greets Person2 and checks Ricky's vacc...,0.250000,0.000000,0.218750,0.836484,0.907462,0.870528,0.335816
2,3,3,mistral 7b,Person1 lost a set of five keys with a small f...,0.367347,0.074074,0.285714,0.880228,0.880754,0.880491,0.363356
3,4,4,mistral 7b,Person1 was upset that Person2 had a girlfrien...,0.233333,0.105263,0.166667,0.868038,0.871339,0.869685,0.304503
4,5,5,mistral 7b,Malik approaches Wen and Nikki at the dance fl...,0.392857,0.120482,0.392857,0.869606,0.924768,0.896339,0.529660

In [11]:
sub_mistral = sub_mistral.rename(columns={'Summary': 'generated_summary', 'Time Taken (s)':'time_summary_taken', 'GPU Usage (MB)':'memory_summary_usage'})
sub_mistral.head()

,dialogue_id,time_summary_taken,memory_summary_usage,generated_summary
0,1,0.554711,213.601387,Doctor Hawkins greets Mr. Smith and asks why h...
1,2,0.554711,213.601387,Person1 greets Person2 and checks Ricky's vacc...
2,3,0.554711,213.601387,Person1 lost a set of five keys with a small f...
3,4,0.554711,213.601387,Person1 was upset that Person2 had a girlfrien...
4,5,0.554711,213.601387,Malik approaches Wen and Nikki at the dance fl...

In [15]:
mistral = pd.merge(mistral, sub_mistral[['dialogue_id', 'memory_summary_usage', 'time_summary_taken']], on="dialogue_id", how='inner')
mistral.head()

,summary_id,dialogue_id,model_id,generated_summary,rouge_1,rouge_2,rouge_l,bert_precision,bert_recall,bert_f1,meteor,memory_summary_usage,time_summary_taken
0,1,1,mistral 7b,Doctor Hawkins greets Mr. Smith and asks why h...,0.351351,0.159091,0.324324,0.888796,0.906006,0.897319,0.505513,213.601387,0.554711
1,2,2,mistral 7b,Person1 greets Person2 and checks Ricky's vacc...,0.250000,0.000000,0.218750,0.836484,0.907462,0.870528,0.335816,213.601387,0.554711
2,3,3,mistral 7b,Person1 lost a set of five keys with a small f...,0.367347,0.074074,0.285714,0.880228,0.880754,0.880491,0.363356,213.601387,0.554711
3,4,4,mistral 7b,Person1 was upset that Person2 had a girlfrien...,0.233333,0.105263,0.166667,0.868038,0.871339,0.869685,0.304503,213.601387,0.554711
4,5,5,mistral 7b,Malik approaches Wen and Nikki at the dance fl...,0.392857,0.120482,0.392857,0.869606,0.924768,0.896339,0.529660,213.601387,0.554711

In [17]:
mistral = mistral[['dialogue_id', 'model_id', 'generated_summary', 'rouge_1', 'rouge_2', 'rouge_l', 'bert_precision', 'bert_recall', 'bert_f1', 'meteor', 'memory_summary_usage', 'time_summary_taken']]

In [19]:
add_summaries_data(mistral)